.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  overflow: hidden;
  top: 15vh;
  left: 5%;
  width: 90%;
  padding: 0.3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  animation: slide-down 300ms ease-out forwards;
}
.alertModal {
  position: fixed;
  overflow: hidden;
  top: 4rem;
  right: 0;
  width: 20rem;
  padding: 0.3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  animation: slide-left 400ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 25rem;
    left: calc(50% - 12.5rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
